<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="neoimport.contribution1"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               label="NeoImport"
               path="additions"
               id="neoimport.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Import into Neo4j"
               class="neoimport.popup.actions.ImportAction"
               menubarPath="neoimport.menu1/group1"
               enablesFor="1"
               id="neoimport.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
